a, a:focus, a:active{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

.middle-header-search {
    width: 30%;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.default-search{
    display: none !important;
}

#nav-toggle{
  display: none !important; 
  position: absolute;
}

.mobile-menu{
    position: absolute;
    z-index: 99;
    top: 0;
    left: -100%;
    height: 100vh;
    transition: 1.5s;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
.mobile-menu.active{
    position: absolute;
    left: 0;
}

.box-shadow-right {
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.5);
  }

#mobile_search_box{
    position: absolute;
    top: 10px;
    z-index: 99;
    display: none;
}

.discount-card img{
    width: 100% !important;
}

@media (max-width: 577px){
    .middle-header-search, .wishlist_heart, .add_cart, .navbar-pages{
        display: none !important;
    }

    #nav-toggle, .default-search{
        display: block !important;  
    }

    .company-logo{
        margin-left: 25px;
    }

    #mobile_search_box.active{
        display: block;
    }
}

@media (max-width: 425px){
    .top-nav-icons-email{
        display: none !important;
    } 
    /* .top-nav-icons{
        font-size: small;
    } */

    .discount-card img{
        width: 100% !important;
        height: 50vh;
    }

    .discount-card-title{
        font-size: small;
    }
}