/* Bread Crumb */
.bc-banner{
  /* background-image: url("https://international.bihk.de/fileadmin/eigene_dateien/auwi_bayern/eigene_dateien/images/header/Zoll.jpg"); */
  /* background-image: url("https://via.placeholder.com/1366x400"); */
  background-image: url("/assets/images/bg.svg");
  position: relative;
  background-repeat: no-repeat;
  height: 50vh;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bc-banner >div{
  position: absolute;
}
.product-details{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.product-detail{
    line-height: 1.5;
}

.card{
    border: none !important;
}

img{
    width: 100%;
    display: block;
}
.img-display{
    overflow: hidden;
}
.img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}
.img-showcase img{
    min-width: 100%;
}
.img-select{
    display: flex;
}
.img-item{
    margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
}
.product-content{
    padding: 2rem 1rem;
}
.product-title{
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin: 1rem 0;
}
.product-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #12263a;
}
.product-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #256eff;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}
.product-link:hover{
    opacity: 0.9;
}
.product-rating{
    color: #ffc107;
}
.product-rating span{
    font-weight: 600;
    color: #252525;
}
.product-price{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}
.product-price span{
    font-weight: 400;
}
.last-price span{
    color: #f64749;
    text-decoration: line-through;
}
.new-price span{
    color: #256eff;
}
.product-detail h2{
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.6rem;
}
.product-detail p{
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
}
.product-detail ul{
    margin: 1rem 0;
    font-size: 0.9rem;
}
.product-detail ul li{
    margin: 0;
    list-style: none;
    background: url(shoes_images/checked.png) left center no-repeat;
    background-size: 18px;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}
.product-detail ul li span{
    font-weight: 400;
}
.purchase-info{
    margin: 1.5rem 0;
}
.purchase-info input,
.purchase-info .btn{
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}
.purchase-info input{
    width: 60px;
}
.purchase-info .btn{
    cursor: pointer;
    color: #fff;
}
.purchase-info .btn:first-of-type{
    background: #256eff;
}
.purchase-info .btn:last-of-type{
    background: #f64749;
}
.purchase-info .btn:hover{
    opacity: 0.9;
}
.social-links{
    display: flex;
    align-items: center;
}

@media screen and (min-width: 992px){
    .card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    .card-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product-content{
        padding-top: 0;
    }
}

/* Product tabs */
.product_description_area {
    padding-bottom: 120px;
    margin-top: 60px;
  }
  
  @media (max-width: 991px) {
  
    .product_description_area {
      margin-top: 0px;
      padding-bottom: 70px;
    }
  }
  
  
  .product_description_area .nav.nav-tabs {
    display: block;
    border: none;
    padding: 10px 0px;
  }
  
  
  .product_description_area .nav.nav-tabs li {
    display: inline-block;
    margin-right: 7px;
  }
  
  
  .product_description_area .nav.nav-tabs li:last-child {
    margin-right: 0px;
  }
  
  
  .product_description_area .nav.nav-tabs li a {
    padding: 0px;
    border: none;
    line-height: 38px;
    background: #fff;
    border: 1px solid #eeeeee;
    padding: 0px 30px;
    color: #2a2a2a;
    font-size: 13px;
    font-weight: normal;
    border-radius: 5px;
  }
  
  @media (max-width: 991px) {
  
    .product_description_area .nav.nav-tabs li a {
      padding: 0px 20px;
      margin-bottom: 10px;
    }
  }
  
  
  .product_description_area .nav.nav-tabs li a.active {
    background: #0d6efd;
    color: #fff;
    border-color: #0d6efd;
  }
  
  
  .product_description_area .tab-content {
    padding-top: 30px;
  }
  
  
  .product_description_area .tab-content .total_rate .box_total {
    background: #ecfdff;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #dddddd;
  }
  
  
  .product_description_area .tab-content .total_rate .box_total h4 {
    color: white;
    font-size: 48px;
    font-weight: bold;
  }
  
  
  .product_description_area .tab-content .total_rate .box_total h5 {
    color: #2a2a2a;
    margin-bottom: 0px;
    font-size: 24px;
  }
  
  
  .product_description_area .tab-content .total_rate .box_total h6 {
    color: #2a2a2a;
    margin-bottom: 0px;
    font-size: 14px;
    color: #797979;
    font-weight: normal;
  }
  
  
  .product_description_area .tab-content .total_rate .rating_list {
    margin-bottom: 30px;
  }
  
  
  .product_description_area .tab-content .total_rate .rating_list h3 {
    font-size: 18px;
    color: #2a2a2a;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  
  .product_description_area .tab-content .total_rate .rating_list .list li a {
    font-size: 14px;
    color: #797979;
  }
  
  
  .product_description_area .tab-content .total_rate .rating_list .list li a i {
    color: #fbd600;
  }
  
  
  .product_description_area .tab-content .total_rate .rating_list .list li:nth-child a i:last-child {
    color: #eeeeee;
  }
  
  
  .product_description_area .tab-content .table {
    margin-bottom: 0px;
  }
  
  
  .product_description_area .tab-content .table tbody tr td {
    padding-left: 65px;
    padding-right: 65px;
    padding-top: 14px;
    padding-bottom: 14px;
  }
  
  
  .product_description_area .tab-content .table tbody tr td h5 {
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    color: #797979;
    margin-bottom: 0px;
    white-space: nowrap;
  }
  
  
  .product_description_area .tab-content .table tbody tr:first-child td {
    border-top: 0px;
  }

  .btn_3 {
    display: inline-block;
    padding: 9px 42px;
    border-radius: 5px;
    background-color: #0d6efd;
    border: 1px solid #0d6efd;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    border: 1px solid #0d6efd;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .btn_3:hover {
    background-color: transparent;
    color: black;
    border: 1px solid #0d6efd;
  }

  @media (max-width: 425px){
    .footer-grid-column{
      display: flex !important;
      flex-direction: column !important;
      align-items: start !important;
    }
  }