*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
  --blue: #0d6efd;
}
/* Home Overlay */
.home-image-container {
    position: relative;
    overflow: hidden;
  }

  .home-image-container img {
    width: 100%;
    height: auto;
    transition: filter 0.3s ease;
  }

  .home-text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    color: white;
  }

  .home-image-container:hover img {
    filter: brightness(30%);
  }

  .home-image-container:hover .home-text-overlay {
    opacity: 1;
  }
/* Home Overlay */

/* slider */
.my-slider-cards {
    border: none;
    border-radius: 0;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  }
  .carousel-inner {
    padding: 1em;
  }
  .carousel-control-prev,
  .carousel-control-next {
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  .carousel-control-prev span,
  .carousel-control-next span {
    width: 1.5rem;
    height: 1.5rem;
  }
  @media screen and (min-width: 577px) {
    .cards-wrapper {
      display: flex;
    }
    .my-slider-cards {
      margin: 0 0.5em;
      width: calc(100% / 2);
    }
    .image-wrapper {
        width: fit-content;
      margin: 0 auto;
    }
  }
  @media screen and (max-width: 576px) {
    .my-slider-cards:not(:first-child) {
      display: none;
    }
    
  }
  
  .image-wrapper img {
    max-width: 100%;
    max-height: 100%;
  }
  
  @media (max-width: 768px){
    .card-title, .card-text, .text-center{
    font-size: 2vw;
  }
  }
  @media (max-width: 425px){
    .card-title, .card-text, .text-center{
    font-size: 3.5vw;
  }

  .popular-images-container >div{
    display: flex !important;
    flex-direction: column !important;
  }

  .popular-images-container >div img{
    width: 100% !important;
  }

  .footer-grid-column{
    display: flex !important;
    flex-direction: column !important;
    align-items: start !important;
  }

  .cart-img img{
    width: 35% !important;
  }

  }
  
/* slider */

/* Banner */
.sales-banner{
    margin:0; 
    padding:0;
    box-sizing: border-box;
}

.sales-banner .text{
    padding:40px;
    background:#eee;
}

.sales-banner .text h3{
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    padding:10px;
}

.banner-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-container .banner{
    background: linear-gradient(-55deg, #3498db 29%, #2980b9 29.1%, #2980b9 68%, #3498db 68.1%);
    border-radius: 5px;
    margin:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.banner{
    width: 100vw;
}
.banner-container .banner .shoe{
    flex:1 1 250px;
    padding:15px;
    text-align: center;
}

.banner-container .banner .shoe img{
    width:80%;
}

.banner-container .banner .content{
    flex:1 1 250px;
    text-align: center;
    padding:10px;
    text-transform: uppercase;
}

.banner-container .banner .content span{
    color:#eee;
    font-size: 25px;
}

.banner-container .banner .content h3{
    color:#fff;
    font-size: 40px;
}

.banner-container .banner .content p{
    color:#eee;
    font-size: 20px;
    padding:10px 0;
}

.banner-container .banner .content .btn{
    display: block;
    height:40px;
    width:150px;
    line-height: 40px;
    background: #fff;
    color:#d63031;
    margin:5px auto;
    text-decoration: none;
}

.banner-container .banner .women{
    position: relative;
    bottom: -33px;
    padding:10px;
    flex:1 1 250px;
}

.banner-container .banner .women img{
    width:100%;
}

/* shop-by-category */
.shop-container{
  width: 80%;
  margin: 0 auto;
}
.shop-by-category{
  display: flex; 
  gap: 1rem; 
  flex-wrap: wrap; 
  justify-content: center;
}

@media (max-width:768px){
    .banner-container .banner .women{
        display: none;
    }

    .shop-container{
      width: 100%;
      margin: 0 auto;
    }

}

.popular-images-container >div img{
  width: 25%;
}

.cart-total{
  width: 75%;
}

@media (max-width: 991px){
  .popular-images-container >div img{
    width: 35%;
  }

  .popular-images-container{
    display: flex;
    gap: 2rem;
    margin: 10px 0;
  }
  
  .cart-container > div{
    display: flex;
    justify-content: center !important;
    align-items: center;
  }

  .cart-img img{
    width: 15%;
  }
}
/* Banner */

/* Owl */
.owl-carousel .item{
    margin: 3px;
}

.owl-carousel .item img{
    display: block;
    width: 100%;
    height: auto;
}
/* Owl */
.item img{
  width: 200px !important;
  height: 200px !important;
}

/* collection */
.active-filter-btn{
  background-color: var(--blue) !important;
  color: #fff!important;
  border-color: var(--blue) !important;
}
.filter-button-group{
  color: #fff!important;
}
.collection-img span{
  top: 20px;
  right: 20px;
  width: 46px;
  height: 46px;
  border-radius: 50%;
}

.category-buttons{
  display: flex;
  flex-direction: column;
  align-items: start;
}
/* Products */
.products-top{
  display: flex;
  justify-content: space-between;
}

.products-top-sort, .products-top-search{
  width: 25%;
}

/* counter */
.qty .count {
  color: #000;
  display: inline-block;
  vertical-align: top;
  font-size: 19px;
  font-weight: 700;
  line-height:10px;
  padding: 0 2px;
  min-width: 35px;
  text-align: center;
}
.qty .plus {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: white;
  width: 25px;
  height: 25px;
  font: 19px;
  text-align: center;
  border-radius: 50%;
  }
.qty .minus {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: white;
  width: 25px;
  height: 25px;
  font: 19px;
  text-align: center;
  border-radius: 50%;
  background-clip: padding-box;
}

/*Prevent text selection*/
.qty input{  
  border: 0;
  width: 2%;
}
.qty input::-webkit-outer-spin-button,
.qty input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.qty input:disabled{
  background-color:white;
}

.mobile-desc{
  display: none;
}

@media (max-width: 767px){
  .products-top{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .products-top-sort, .products-top-search{
    width: 100%;
  } 

  .cart-table-head{
    display: none;
  }

  .shop-cart-container >div{
    display: flex;
    justify-content: center;
  }

  .qty{
    display: flex !important;
    justify-content: center !important;
  }

  .shop-cart-img img{
    width: 100%;
  }

  .mobile-desc{
    display: block;
  }

  .mobile-margin{
    margin-bottom: 20px;
  }
}

/* Bread Crumb */
.bc-banner{
  background-image: url("https://international.bihk.de/fileadmin/eigene_dateien/auwi_bayern/eigene_dateien/images/header/Zoll.jpg");
  /* background-image: url("https://via.placeholder.com/1366x350"); */
  /* background-image: url("/assets/images/bg.svg"); */
  position: relative;
  background-repeat: no-repeat;
  height: 50vh;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  background-size: cover;
  
  font-weight: 900;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bc-banner >div{
  position: absolute;
}

i {
  color: var(--blue);
}

.btn_3 {
  display: inline-block;
  padding: 9px 42px;
  border-radius: 5px;
  background-color: var(--blue);
  border: 1px solid var(--blue);
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  border: 1px solid var(--blue);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.btn_3:hover {
  background-color: transparent;
  color: black;
  border: 1px solid var(--blue);
}

/* About */
.image-hover:hover {
  opacity: 0.8;
  transform: scale(0.95);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

/* New Hero */
:root {
  --color: #4973ff;
}
.content {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
}

.hero {
  position: relative;
  background: #f8f9fa;
  color: white;
  height: 64vh !important;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.hero h2, .hero_btn {
  position: relative;
  z-index: 3;
  margin: 0 0 10px;
  line-height: 1;
}

.hero p {
  position: relative;
  z-index: 3;
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.4;
}

/* ========================= */
.clouds{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 64vh !important;
  z-index: 1;
}
.waves {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  /* background-color: var(--color); */
  /* box-shadow: inset 0 0 10px rgba(248, 249, 250, 0.5); */
  transition: 500ms;
  z-index: 2;
}

.waves::before,
.waves::after {
  content: '';
  position: absolute;
  width: 300vw;
  height: 300vw;
  top: -65vw;
  left: 50%;
  transform: translate(-50%, -75%);
}

.waves::before {
  border-radius: 44%;
  background: rgba(248, 249, 250, 0.5);
  animation: waves 22s linear infinite;
}

.waves::after {
  border-radius: 44%;
  background-color: transparent;
  animation: waves 22s linear infinite;
}

@keyframes waves {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}


@media (max-width: 320px){
  .fa-lg{
    margin-top: 10px !important;
    font-size: 20px !important;
  }
}

/* Cards Shadow or border */
.best > div:last-child, .feat > div:last-child, .new > div:last-child{
  width: 100%;
  margin-top: -18px;
  padding: 10px 0;
  box-shadow: 1px 0px 26px 7px rgba(0,0,0,0.04) inset;
}

.best, .feat, .new {
  transition: transform 0.3s ease-in-out;
}

.best:hover, .feat:hover, .new:hover {
  transform: scale(1.05);
}

/* Heor */
.dina-hero-right img{
  width: 100%;
  /* height: 30vh; */
}

.dina-hero-right img{
  border-radius: 7px !important;
}
/* for special pages */
@media (max-width: 767px){
  .special-pages .best > div:last-child, .special-pages .feat > div:last-child,  .special-pages .new > div:last-child{
  width: 70%;
  }

  .dina-hero-right img{
    width: 100%;
    height: auto;
  }

  .hero, .clouds{
    height: 50vh !important;
  }
}


/* Discount card image media query */
  .discount-card img{
    height: 35vh !important
  }

@media (max-width: 1200px){
  .discount-card img{
    height: 42vh !important;
  }

  .hero, .clouds{
    height: 50vh !important;
  }
}


/* discount card */
.discount-card img{
  height: 30vh !important;
}
.discount-card >div{
  position: absolute; 
  left: 50%; 
  top: 50%; 
  transform: translate(-50%, -50%); 
  text-align: center; 
}
.discount-card >div h4, .discount-card >div p{
  border-radius: 7px; 
  background-color: rgba(255, 255, 255, 0.479); 
}

.discount-card img{
  border-radius: 7px;
}

@media (max-width: 425px){
  .special-pages .best > div:last-child, .special-pages .feat > div:last-child, .special-pages .new > div:last-child{
  width: 97%;
  }

  .discount-card >div, .icons-and-details{
   font-size: small; 
  }

  .hero, .clouds{
    height: 44vh !important;
  }
}

@media (max-width: 424px){
  .special-pages .best > div:last-child, .special-pages .feat > div:last-child, .special-pages .new > div:last-child{
  width: 100%;
  }
}

@media (max-width: 375px){
  
  .discount-card >div h4, .icons-and-details h6, .icons-and-details i{
    font-size: 16px; 
   }

   .discount-card >div p, .icons-and-details p{
    font-size: 12px; 
   }
}

@media (max-width: 320px){
  .discount-card >div h4, .icons-and-details h6{
    font-size: 12px; 
   }

   .discount-card >div p, .icons-and-details p{
    font-size: 10px; 
   }
}