*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Home Overlay */
.home-image-container {
    position: relative;
    overflow: hidden;
  }

  .home-image-container img {
    width: 100%;
    height: auto;
    transition: filter 0.3s ease;
  }

  .home-text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    color: white;
  }

  .home-image-container:hover img {
    filter: brightness(30%);
  }

  .home-image-container:hover .home-text-overlay {
    opacity: 1;
  }
/* Home Overlay */

/* slider */
.my-slider-cards {
    border: none;
    border-radius: 0;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  }
  .carousel-inner {
    padding: 1em;
  }
  .carousel-control-prev,
  .carousel-control-next {
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  .carousel-control-prev span,
  .carousel-control-next span {
    width: 1.5rem;
    height: 1.5rem;
  }
  @media screen and (min-width: 577px) {
    .cards-wrapper {
      display: flex;
    }
    .my-slider-cards {
      margin: 0 0.5em;
      width: calc(100% / 2);
    }
    .image-wrapper {
        width: fit-content;
      margin: 0 auto;
    }
  }
  @media screen and (max-width: 576px) {
    .my-slider-cards:not(:first-child) {
      display: none;
    }
    
  }
  
  .image-wrapper img {
    max-width: 100%;
    max-height: 100%;
  }
  
  @media (max-width: 768px){
    .card-title, .card-text, .text-center{
    font-size: 2vw;
  }
  }
  @media (max-width: 425px){
    .card-title, .card-text, .text-center{
    font-size: 3.5vw;
  }
  }
  
/* slider */

/* Banner */
.sales-banner{
    margin:0; 
    padding:0;
    box-sizing: border-box;
}

.sales-banner .text{
    padding:40px;
    background:#eee;
}

.sales-banner .text h3{
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    padding:10px;
}

.banner-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-container .banner{
    background: linear-gradient(-55deg, #3498db 29%, #2980b9 29.1%, #2980b9 68%, #3498db 68.1%);
    border-radius: 5px;
    margin:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.banner{
    width: 100vw;
}
.banner-container .banner .shoe{
    flex:1 1 250px;
    padding:15px;
    text-align: center;
}

.banner-container .banner .shoe img{
    width:80%;
}

.banner-container .banner .content{
    flex:1 1 250px;
    text-align: center;
    padding:10px;
    text-transform: uppercase;
}

.banner-container .banner .content span{
    color:#eee;
    font-size: 25px;
}

.banner-container .banner .content h3{
    color:#fff;
    font-size: 40px;
}

.banner-container .banner .content p{
    color:#eee;
    font-size: 20px;
    padding:10px 0;
}

.banner-container .banner .content .btn{
    display: block;
    height:40px;
    width:150px;
    line-height: 40px;
    background: #fff;
    color:#d63031;
    margin:5px auto;
    text-decoration: none;
}

.banner-container .banner .women{
    position: relative;
    bottom: -33px;
    padding:10px;
    flex:1 1 250px;
}

.banner-container .banner .women img{
    width:100%;
}

@media (max-width:768px){
    .banner-container .banner .women{
        display: none;
    }
}
/* Banner */

/* Owl */
.owl-carousel .item{
    margin: 3px;
}

.owl-carousel .item img{
    display: block;
    width: 100%;
    height: auto;
}
/* Owl */
.item img{
  width: 200px !important;
  height: 200px !important;
}

/* collection */
.active-filter-btn{
  background-color: #0d6efd !important;
  color: #fff!important;
  border-color: #0d6efd !important;
}
.filter-button-group{
  color: #fff!important;
}
.collection-img span{
  top: 20px;
  right: 20px;
  width: 46px;
  height: 46px;
  border-radius: 50%;
}

.category-buttons{
  display: flex;
  flex-direction: column;
  align-items: start;
}
/* Products */
.products-top{
  display: flex;
  justify-content: space-between;
}

.products-top-sort, .products-top-search{
  width: 25%;
}

@media (max-width: 767px){
  .products-top{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .products-top-sort, .products-top-search{
    width: 100%;
  } 
}

/* Bread Crumb */
.bc-banner{
  background-image: url("https://international.bihk.de/fileadmin/eigene_dateien/auwi_bayern/eigene_dateien/images/header/Zoll.jpg");
  width: 100%;
  height: 50vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-shadow: 2px 2px white;
}

i {
  color: #0d6efd;
}

.btn_3 {
  display: inline-block;
  padding: 9px 42px;
  border-radius: 5px;
  background-color: #0d6efd;
  border: 1px solid #0d6efd;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  border: 1px solid #0d6efd;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.btn_3:hover {
  background-color: transparent;
  color: black;
  border: 1px solid #0d6efd;
}